<!DOCTYPE html>
<html ng-app="app" lang="fr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="node_modules/materialize-css/dist/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" href="styles.css">
        <title>Angular Project</title>
    </head>
    <body ng-controller='mainController as vm'>

    	<h1>Formulaire avec AngularJS</h1>

	    <div class="row formulaire">
<!--
	In AngularJS, forms can be nested. This means that the outer form is valid when all of the child forms are valid as well. However, browsers do not allow nesting of <form> elements, so AngularJS provides the ngForm directive, which behaves identically to form but can be nested
-->
<!--
	You can use one of the following two ways to specify what javascript method should be called when a form is submitted:
		1) ngSubmit directive on the form element
		2) ngClick directive on the first button or input field of type submit (input[type=submit])
-->
	    	<form class="col s12">

	      		<div class="row">
	        		<div class="input-field col s4">
	          			<i class="medium material-icons prefix">assignment_ind</i>
	          			<input id="first_name" type="text" class="validate" ng-model="nom" >
	          			<label for="first_name">Nom</label>
	        		</div>
	        		<div class="input-field col s4">
	        			<i class="medium material-icons prefix">account_circle</i>
	          			<input id="last_name" type="text" class="validate" ng-model="prenom" name="prenom">
	          			<label for="last_name">Prénom</label>
	        		</div>
	        		<div class="input-field col s4">
	        			<i class="medium material-icons prefix">email</i>
	          			<input id="email" type="email" class="validate" ng-model="email" name="email">
	          			<label for="email">Email</label>
	        		</div>
	      		</div>
	      		<a class="btn-floating btn-large waves-effect waves-light blue" ng-click="submit()">
	      			<i class="material-icons">
	      				add
	    			</i>
	    		</a>

	      	</form>

	  		<div class="row tableau">

	    		<table class="col s12">
        			<thead>
          				<tr class="table-head">
            				<th>
            					<i class="tiny material-icons prefix">assignment_ind</i>
            					Nom
            				</th>
              				<th>
              					<i class="tiny material-icons prefix">account_circle</i>
              					Prénom
              				</th>
              				<th>
              					<i class="tiny material-icons prefix">email</i>
              					Email
              				</th>
          				</tr>
        			</thead>

        			<tbody>

						<tr ng-repeat="detail in person">
							<td> {{ detail.nom }} </td>
							<td> {{ detail.prenom }} </td>
							<td> {{ detail.email }} </td>
						</tr>
        			
        			</tbody>
      			</table>

      		</div>
      	</div>

        <script src="node_modules/angular/angular.min.js"></script>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
		<script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script src="js/controllers/mainController.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
